<!--第二步：添加如下 HTML 代码-->
<!--title start-->
<div class="child_tit clearfix">
    <div class="tit_h fl">
        <h3 class="co6 title_html">主题首页列表</h3>
    </div>
    <div class="triangle fl"></div>
</div>
<!--title end-->
<div>
    <button class="btn blue" id="mdrender">修改mdrender值</button>
    <button class="btn blue" id="reload">reload</button>
</div>
<div class="col-xs-12">
    <div class="page-content table-form">
        <div class="row">
            <table id="table_id_example" class="table display nowrap  table-striped table-bordered table-hover table-checkable order-column">
                <thead>
                    <tr>
                        <th>头像</th>
                        <th>作者ID</th>
                        <th>名称</th>
                        <th>标题</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>