<!--popup-provider start-->
<div class="modal fade bs-modal-lg add" id="popup-provider" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">供应商选择</h4>
            </div>
            <div class="modal-body">
                <div class="mb20">
                    <div class="input-group col-lg-4 col-md-5 col-sm-6 col-xs-12 pull-left">
                        <input id="" type="text" class="form-control" placeholder="可根据供应商名称查询...">
                    </div>
                    <button type="button" class="btn ml20 btn-primary pull-left">查询</button>
                    <button type="button" class="btn ml20 btn-primary pull-right">添加供应商</button>
                    <div class="clearfix"></div>
                </div>
                <div class="form">
                    <table class="table display nowrap table-striped table-bordered table-hover order-column" id="table-provider">
                        <thead>
                        <tr>
                            <th class="table-checkbox sorting_disabled cc" rowspan="1" colspan="1">
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="group-checkable" data-set="#ctTable .checkboxes">
                                    <span></span>
                                </label>
                            </th>
                            <th>供应商名称</th>
                            <th>所属行业</th>
                            <th>类别</th>
                            <th>联系人</th>
                            <th>跟进人</th>
                            <th>创建时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class=" cc"><label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" name="" class="checkboxes"><span></span></label>
                            </td>
                            <td>广州百度知识产权有限公司</td>
                            <td>其它</td>
                            <td>王维新</td>
                            <td>黄志忠</td>
                            <td>卫艳芳</td>
                            <td>2017-05-06 01:10:59</td>
                        </tr>
                        <tr>
                            <td class=" cc"><label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" name="" class="checkboxes"><span></span></label>
                            </td>
                            <td>广州百度知识产权有限公司</td>
                            <td>其它</td>
                            <td>王维新</td>
                            <td>黄志忠</td>
                            <td>卫艳芳</td>
                            <td>2017-05-06 01:10:59</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button id="" type="button" class="btn green">选择</button>
                <button class="btn red" data-dismiss="modal" aria-hidden="true">取消</button>
            </div>
        </div>
    </div>
</div>
<!--popup-provider end-->