<!--popup-buyer start-->
<div class="modal fade bs-modal-lg add" id="popup-buyer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">买方合同选择</h4>
            </div>
            <div class="modal-body">
                <div class="mb20">
                        <div class="input-group input-large pull-left">
                            <div class="input-group-btn">
                                <button type="button" class="btn green dropdown-toggle" data-toggle="dropdown" aria-expanded="false">选择类型
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0);">商标</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">专利</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">版权</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">域名</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">其它</a>
                                    </li>
                                </ul>
                            </div>
                            <input type="text" class="form-control" placeholder="输入合同编号、订单号">
                        </div>

                    <button type="button" class="btn ml20 btn-primary pull-left">查询</button>
                    <button type="button" class="btn ml20 btn-primary pull-right">添加新合同</button>
                    <div class="clearfix"></div>
                </div>
                <div class="form">
                    <table class="table display nowrap table-striped table-bordered table-hover order-column" id="">
                        <thead>
                        <tr>
                            <th class="table-checkbox sorting_disabled cc" rowspan="1" colspan="1">
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="group-checkable" data-set="#ctTable .checkboxes">
                                    <span></span>
                                </label>
                            </th>
                            <th>合同编号</th>
                            <th>业务类型</th>
                            <th>客户</th>
                            <th>合同金额</th>
                            <th>跟进人</th>
                            <th>合同领出时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class=" cc"><label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" name="" class="checkboxes"><span></span></label>
                            </td>
                            <td>
                                <a href="javascript:void(0);" target="_blank">UTC-TM-JTYZ1705-259(ABC)</a>
                            </td>
                            <td>/用权业务/国内交易业务/交易业务（买方）/专利交易（买方）</td>
                            <td>王维新</td>
                            <td class="font-red-haze">10,000.00</td>
                            <td>黄志忠</td>
                            <td>2017-05-06 01:10:59</td>
                        </tr>
                        <tr>
                            <td class=" cc"><label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" name="" class="checkboxes"><span></span></label>
                            </td>
                            <td>
                                <a href="javascript:void(0);" target="_blank">UTC-TM-JTYZ1705-259(ABC)</a>
                            </td>
                            <td>/用权业务/国内交易业务/交易业务（买方）/专利交易（买方）</td>
                            <td>王维新</td>
                            <td class="font-red-haze">10,000.00</td>
                            <td>黄志忠</td>
                            <td>2017-05-06 01:10:59</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button id="" type="button" class="btn green">选择</button>
                <button class="btn red" data-dismiss="modal" aria-hidden="true">取消</button>
            </div>
        </div>
    </div>
</div>
<!--popup-buyer end-->